<%= form_with model: [ @article, @article.categories.build ] do |form| %>
    <p>
      <%= form.label :category %><br>
      <%= form.text_field :category %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>

    <p>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
  