<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<p><strong>Category:</strong> <%= @article.category.name %></p>

<ul>
  <li><%= link_to "Edit", edit_category_article_path(@category, @article) %></li>
  <li><%= link_to "Delete", category_article_path(@category), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>


Our blog has <%= Comment.public_count %> articles and counting!
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<div id="category-id" data-category="<%= @category.id %>"></div>
<button id="load-comments" data-article="<%= @article.id %>"> Load Comments </button>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>