<% if user_signed_in? %>

<div> Welcome <%= current_user.username %> </div>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %>

<h1>Categories</h1>

  <% @categories.each do |category| %>
    <h2><%= category.name %></h2>
    <% if category.description.present? %>
    <p><em><%= category.description %></em></p>
    <% else %>
    <p><%= "No description available!" %></p>
    <% end %>
    <li>
    <%= link_to category.name, category %>
      <%= category.articles.count %> articles
    </li>
  <% end %>

  <%= link_to "New Category", new_category_path(@category) %>
  <% else %>
  <%= button_to "Sign in" , new_user_session_path %>
  <% @categories.each do |category| %>
    <h2><%= category.name %></h2>
    <% if category.description.present? %>
    <p><em><%= category.description %></em></p>
    <% else %>
    <p><%= "No description available!" %></p>
    <% end %>
    <li>
    <%= link_to category.name, category %>
      <%= category.articles.count %> articles
    </li>
  <% end %>

  <% end %>

